<footer class="container-fluid notes">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 notes-bg">
            <div class="container">
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur
                        adipiscing.</p>
                </div>
                <div class="col-md-offset-1 col-md-2 col-md-offset-1 col-sm-offset-1 col-sm-2 col-sm-offset-1 col-xs-12">
                    <ul class="social">
                        <li><a href="https://www.facebook.com/profile.php?id=1668570239"> <img
                                        src="images/facebook.png"></a></li>
                        <li><a href="https://twitter.com/thekayls"> <img src="images/twitter.png"> </a></li>
                        <li><a href="instagram.com/thekayls/"> <img src="images/insta.png"> </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="javascripts/jquery.countTo.js"></script>
<script type="text/javascript" src="javascripts/jquery.waypoints.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="javascripts/lightbox.min.js"></script>
<script>
    function initialize() {
        var mapCanvas = document.getElementById('map-canvas');
        var mapOptions = {
            center: new google.maps.LatLng(44.39297, -79.67204),
            zoom: 8,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions)
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>
<script>
    $(document).ready(function () {
        $(document).on("scroll", onScroll);

        $('a[href^="#"]').on('click', function (e) {
            e.preventDefault();
            $(document).off("scroll");

            $('a').each(function () {
                $(this).removeClass('active');
            })
            $(this).addClass('active');

            var target = this.hash;
            $target = $(target);
            $('html, body').stop().animate({
                'scrollTop': $target.offset().top
            }, 500, 'swing', function () {
                window.location.hash = target;
                $(document).on("scroll", onScroll);
            });
        });
    });

    function onScroll(event) {
        var scrollPosition = $(document).scrollTop();
        $('nav a').each(function () {
            var currentLink = $(this);
            var refElement = $(currentLink.attr("href"));
            if (refElement.position().top <= scrollPosition && refElement.position().top + refElement.height() > scrollPosition) {
                $('nav ul li a').removeClass("active");
                currentLink.addClass("active");
            }
            else {
                currentLink.removeClass("active");
            }
        });
    }
</script>
<script type="text/javascript">
    jQuery(function ($) {
        // custom formatting example
        $('.timer').data('countToOptions', {
            formatter: function (value, options) {
                return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',');
            }
        });

        // start all the timers
        $('#starts').waypoint(function () {
            $('.timer').each(count);
        });

        function count(options) {
            var $this = $(this);
            options = $.extend({}, options || {}, $this.data('countToOptions') || {});
            $this.countTo(options);
        }
    });
</script>

</body>
</html>