<!--include header-->
<%- include partials/header.ejs %>
<!--main body-->
<div class="container-fluid main" id="page-top">
    <div class="row">
        <div class="col-md-12 backg">
            <div class="col-md-4 col-md-offset-4 inner col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
                <div class="text-box">
                    <div class="intro"></div>
                    <h2><img src="images/kayley-transparent.png"></h2>
                    <h3>Kayley Luftig</h3>
                    <h3>Web Design & Development</h3>
                </div>
            </div>
        </div>
        <!--about section-->
        <div class="col-md-12 some-notes">
            <div class="title">
                <h2>Who's Kayley?</h2>
            </div>
            <div class="desc col-md-6">
                <h3 class="aboutme">My Work</h3><br/>
                <p>When I'm working with a client, more often than not I am both the designer and developer. It's my
                    job to make sure I capture what the client want and make sure it translates to their website. I
                    know that this website represents them and their company. I've worked with small start ups as
                    well as larger offices.</p><br/>
                <p>While I may still have my training wheels on, as I work under fabulous mentors I am beginning to
                    grow in ways I never imagined. The passion I have for web design and development is unlike
                    anything I've ever experience before. With such a quick changing industry I look forward to
                    growing with it, and even help shape the future of dev.
                </p>
            </div>
            <div class="desc col-md-6">
                <h3 class="aboutme">About Me</h3><br/>
                <p>I currently split my time between Barrie and Toronto, Ontario. Living with my 4 year old Corgi,
                    Sawyer.</p><br/>
                <p>Currently, I am in school at Georgian College for Web Design and Development. I had the pleasure
                    of working with the Centre for Applied Research and Innovation for my co-op term under wonderful
                    mentors were I was able to work on projects for small business, and was recently asked to stay
                    on for the duration of the year.</p><br/>
                <p>When I'm not glued to a computer, I'm usually hiking with Sawyer, at the Skydome catching a Jays
                    game or spending time with my family and friends.</p>
            </div>
        </div>
    </div>
</div>
<!--counter-->
<div class="container-fluid work" id="work">
    <div class="container">
        <div class="row" id="starts">
            <div class="col-md-12 col-sm-12 col-xs-12 work-list">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid countspace">
    <div class="container">
        <div class="row">
            <div class="col-md-12 countbg">
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <div class="counter-item">
                        <i class="glyphicon glyphicon-cloud"></i>
                        <div class="timer" data-from="0" data-to="329" data-speed="5000"
                             data-refresh-interval="50"></div>
                        <h5>Files uploaded</h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <div class="counter-item">
                        <i class="glyphicon glyphicon-check"></i>
                        <div class="timer" data-from="0" data-to="25" data-speed="5000"
                             data-refresh-interval="50"></div>
                        <h5>Projects completed</h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <div class="counter-item">
                        <i class="glyphicon glyphicon-console"></i>
                        <div class="timer" data-from="0" data-to="30297" data-speed="5000"
                             data-refresh-interval="50"></div>
                        <h5>Lines of code written</h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <div class="counter-item">
                        <i class="glyphicon glyphicon-user"></i>
                        <div class="timer" data-from="0" data-to="15" data-speed="1000"
                             data-refresh-interval="50"></div>
                        <h5>Happy clients</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--map-->
<div class="container-fluid contact" id="section4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center portfolio-text">Contact</h2>
                <div class="col-md-6 col-sm-12 col-xs-12contact-form">
                    <form role="form">
                        <div class="form-group">
                            <input type="text" class="form-control form-effect" id="name" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control form-effect" id="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <textarea type="textarea" class="form-control form-effect" id="text"
                                      placeholder="Message"></textarea>
                        </div>
                        <button type="submit" class="btn btn-default btn-sub">Submit</button>
                    </form>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 address-space">
                    <div id="map-canvas"></div>
                    <div class="address">
                        <h3>Address</h3>
                        <p><i class="glyphicon glyphicon-map-marker"></i>81 Blake Street, Barrie, Ontario </p>
                        <p><i class="glyphicon glyphicon-earphone"></i>(647) 242-2987</p>
                        <p><i class="glyphicon glyphicon-envelope"></i>kayley.luftig@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--include footer-->
<%- include partials/footer.ejs %>