<!--include header-->
<%- include partials/header.ejs %>

<div class="container-fluid main" id="page-top">
    <div class="row">
        <div class="col-md-12 backg">
            <div class="col-md-4 col-md-offset-4 inner col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
                <div class="text-box">
                    <p class="intro">Welcome to</p>
                    <h2><img src="images/kayley-transparent.png"></h2>
                    <h3>Kayley Luftig</h3>
                    <h3>Web Design & Development</h3>
                </div>
            </div>
        </div>
        <div class="col-md-12 some-notes">
            <div class="title">
                <h2>Why Kayley?</h2>
            </div>
            <div class="desc">
                <p>Frontend development is where Kayley really has the opportunity to think out of the box. Her ability
                    to take something seemingly simple and make it look complicated gives depth, creativity and
                    individuality to the web sites she creates. Additionally, from a very young age Kayley always shined
                    in a leadership position, her willingness to take on new tasks and help others makes her the perfect
                    person to take on your project.</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid work" id="work">
    <div class="container">
        <div class="row" id="starts">
            <div class="col-md-12 col-sm-12 col-xs-12 work-list">
                <h2 class="text-center portfolio-text">Portfolio</h2>
                <div class="col-md-4 col-sm-6 col-xs-12 work-space">
                    <a href="images/story1.png" data-lightbox="image-1">
                        <div class="featured-img">
                            <img src="images/story1.png"/>
                        </div>
                        <div class="image-hover">
                            <i class="glyphicon glyphicon-eye-open"></i>
                        </div>
                        <h3>Amazing Beauty</h3>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 work-space">
                    <a href="images/story2.png" data-lightbox="image-1">
                        <div class="featured-img">
                            <img src="images/story2.png"/>
                        </div>
                        <div class="image-hover">
                            <i class="glyphicon glyphicon-eye-open"></i>
                        </div>
                        <h3>Mind Blowing</h3>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 work-space">
                    <a href="images/story3.png" data-lightbox="image-1">
                        <div class="featured-img">
                            <img src="images/story3.png"/>
                        </div>
                        <div class="image-hover">
                            <i class="glyphicon glyphicon-eye-open"></i>
                        </div>
                        <h3>Perfect Shot</h3>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 work-space">
                    <a href="images/story2.png" data-lightbox="image-1">
                        <div class="featured-img">
                            <img src="images/story2.png"/>
                        </div>
                        <div class="image-hover">
                            <i class="glyphicon glyphicon-eye-open"></i>
                        </div>
                        <h3>Creative thoughts</h3>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 work-space">
                    <a href="images/story3.png" data-lightbox="image-1">
                        <div class="featured-img">
                            <img src="images/story3.png"/>
                        </div>
                        <div class="image-hover">
                            <i class="glyphicon glyphicon-eye-open"></i>
                        </div>
                        <h3>Beautiful Picture</h3>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 work-space">
                    <a href="images/story1.png" data-lightbox="image-1">
                        <div class="featured-img">
                            <img src="images/story1.png"/>
                        </div>
                        <div class="image-hover">
                            <i class="glyphicon glyphicon-eye-open"></i>
                        </div>
                        <h3>heart Touching</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid countspace">
    <div class="container">
        <div class="row">
            <div class="col-md-12 countbg">
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <div class="counter-item">
                        <i class="glyphicon glyphicon-cloud"></i>
                        <div class="timer" data-from="0" data-to="329" data-speed="5000"
                             data-refresh-interval="50"></div>
                        <h5>Files uploaded</h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <div class="counter-item">
                        <i class="glyphicon glyphicon-check"></i>
                        <div class="timer" data-from="0" data-to="25" data-speed="5000"
                             data-refresh-interval="50"></div>
                        <h5>Projects completed</h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <div class="counter-item">
                        <i class="glyphicon glyphicon-console"></i>
                        <div class="timer" data-from="0" data-to="30297" data-speed="5000"
                             data-refresh-interval="50"></div>
                        <h5>Lines of code written</h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <div class="counter-item">
                        <i class="glyphicon glyphicon-user"></i>
                        <div class="timer" data-from="0" data-to="15" data-speed="1000"
                             data-refresh-interval="50"></div>
                        <h5>Happy clients</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid contact" id="section4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center portfolio-text">Contact</h2>
                <div class="col-md-6 col-sm-12 col-xs-12contact-form">
                    <form role="form">
                        <div class="form-group">
                            <input type="text" class="form-control form-effect" id="name" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control form-effect" id="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <textarea type="textarea" class="form-control form-effect" id="text"
                                      placeholder="Message"></textarea>
                        </div>
                        <button type="submit" class="btn btn-default btn-sub">Submit</button>
                    </form>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 address-space">
                    <div id="map-canvas"></div>
                    <div class="address">
                        <h3>Address</h3>
                        <p><i class="glyphicon glyphicon-map-marker"></i>81 Blake Street, Barrie, Ontario </p>
                        <p><i class="glyphicon glyphicon-earphone"></i>(647) 242-2987</p>
                        <p><i class="glyphicon glyphicon-envelope"></i>kayley.luftig@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--include footer-->
<%- include partials/footer.ejs %>