<!--include header-->
<%- include partials/header.ejs %>

<div class="container-fluid main" id="page-top">
    <div class="row">
        <div class="col-md-12 backg">
            <div class="col-md-4 col-md-offset-4 inner col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
                <div class="text-box">
                    <div class="intro"></div>
                    <h2><img src="images/kayley-transparent.png"></h2>
                    <h3>Kayley Luftig</h3>
                    <h3>Web Design & Development</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<!--skills-->

<div class="container-fluid features" id="section2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center features-text">Services</h2>
                <div class="col-md-6 col-sm-12 col-xs-12 icon-box">
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="iconing">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </div>
                    </div>
                    <div class="col-md-9 col-md-offset-1 col-sm-10 col-xs-12 icon-text-box">
                        <h4>Web Design</h4>
                        <p>I will create a unique design suited specifically to you or your companys needs. Ensuring
                            your website or blog has a clean and creative style, the reflects you!</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 icon-box">
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="iconing">
                            <i class="glyphicon glyphicon-cog"></i>
                        </div>
                    </div>
                    <div class="col-md-9 col-md-offset-1 col-sm-10 col-xs-12 icon-text-box">
                        <h4>Web Development</h4>
                        <p>Using HTML, CSS and JavaScript or a custom CMS. You can be sure that each website
                            operates with smooth functionality and ease of navigation with my semantic and
                            searchable code.</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 icon-box">
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="iconing">
                            <i class="glyphicon glyphicon-camera"></i>
                        </div>
                    </div>
                    <div class="col-md-9 col-md-offset-1 col-sm-10 col-xs-12 icon-text-box">
                        <h4>Photography</h4>
                        <p>What sets your site above the rest? The photography! No more stock photography, with my
                            expertise in the photography field we can capture all the images you need.</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 icon-box">
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="iconing">
                            <i class="glyphicon glyphicon-ok"></i>
                        </div>
                    </div>
                    <div class="col-md-9 col-md-offset-1 col-sm-10 col-xs-12 icon-text-box">
                        <h4>Wordpress</h4>
                        <p>The most popular content management system right now, it's no wonder that most of the
                            sites I build use this very same CMS. I will sit down with you and teach you how to use
                            your new wordpress site from front to back.</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 icon-box">
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="iconing">
                            <i class="glyphicon glyphicon-user"></i>
                        </div>
                    </div>
                    <div class="col-md-9 col-md-offset-1 col-sm-10 col-xs-12 icon-text-box">
                        <h4>User-friendly Interface</h4>
                        <p>No more confusing websites! I will ensure that your website is up to date with the
                            latest technology make it accessible by everyone!</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 icon-box">
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="iconing">
                            <i class="glyphicon glyphicon-heart"></i>
                        </div>
                    </div>
                    <div class="col-md-9 col-md-offset-1 col-sm-10 col-xs-12 icon-text-box">
                        <h4>Made With Love</h4>
                        <p>Passionate about every single one of her projects, I will always put my heart and
                            soul into everything I work on. Ensuring each piece of work has a unique look and
                            feel.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--map-->

<div class="container-fluid contact" id="section4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center portfolio-text">Contact</h2>
                <div class="col-md-6 col-sm-12 col-xs-12contact-form">
                    <form role="form">
                        <div class="form-group">
                            <input type="text" class="form-control form-effect" id="name" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control form-effect" id="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <textarea type="textarea" class="form-control form-effect" id="text"
                                      placeholder="Message"></textarea>
                        </div>
                        <button type="submit" class="btn btn-default btn-sub">Submit</button>
                    </form>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 address-space">
                    <div id="map-canvas"></div>
                    <div class="address">
                        <h3>Address</h3>
                        <p><i class="glyphicon glyphicon-map-marker"></i>81 Blake Street, Barrie, Ontario </p>
                        <p><i class="glyphicon glyphicon-earphone"></i>(647) 242-2987</p>
                        <p><i class="glyphicon glyphicon-envelope"></i>kayley.luftig@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--include footer-->
<%- include partials/footer.ejs %>