<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
</head>
<body>
<nav>
    <li><a href="/">The Luftigs</a> </li>
    <li><a href="/kayley">Kayley</a> </li>
    <li><a href="/jonathan">Jonathan</a> </li>
    <li><a href="/taylor">Taylor</a> </li>
    <li><a href="/courtney">Courtney</a> </li>
</nav>